<title>Search in the summation array</title>
  <h1>Hello, World!</h1>
	
	In the first form, enter a list of integers separated by a newline character.
	In the second form, enter another list of integers separated by a newline character.	
	In the third form, enter another list of integers separated by a newline character.
	In the third form, enter another integer.
	It creates an array by summing the lists' elements from the same index and size of the array is equal to size of the biggest sized list.
	If this integer is found in the array, the result becomes true.
	
    Result is {{result}}

  <form action="compute" method="post">
        <textarea name="input1" rows="10" cols="30"></textarea>
		<textarea name="input2" rows="10" cols="30"></textarea>
		<textarea name="input3" rows="10" cols="30"></textarea>
		<textarea name="input4" rows="10" cols="30"></textarea>
        <br>
        <input type="submit">
  </form>

